.advantages{
  background-color: @gray;
}

.advantages__item{
  position: relative;
  padding-top: 25px;
  padding-bottom: 29px;
  padding-left: 31px;
  padding-right: 31px;
  text-align: center;
}

.advantages__item::after{
  position: absolute;
  bottom: 0;
  left: 5%;
  content: "";
  width: 90%;
  height: 1px;
  background-color: #d6d6d6;
}

.advantages__title{
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.advantages__index{
  margin-top: 0;
  margin-bottom: 15px;
}

.advantages__text{
  margin: 0;
}

@media (min-width: @tablet-width){
  .advantages{
    display: flex;
    padding-top: 19px;
    padding-bottom: 15px;
  }

  .advantages__item{
    width: 33.333333%;
    padding-left: 45px;
    padding-right: 45px;
  }

  .advantages__item::after{
    display: none;
  }

  .advantages__title{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 21px;
  }

  .advantages__index{
    margin-bottom: 21px;
  }
}

@media (min-width: @desctop-width){
  .advantages{
    padding-bottom: 35px;
  }

  .advantages__title{
    padding-left: 75px;
    padding-right: 75px;
  }
}
