.failur-popup{
  display: none;
  width: 320px;
  margin: 0 auto;
  padding-top: 44px;
  padding-bottom: 35px;
  box-shadow:  0 0 40px 0 #e4e4e4;
}

.failur-popup__wrapper{
  width: 220px;
  margin: 0 auto;
}

.failur-popup__title{
  margin-top: 0;
  margin-bottom: 27px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.failur-popup__text{
  margin-top: 0;
  margin-bottom: 24px;
  line-height: 24px;
  text-align: center;
}

.failur-popup__btn{
  width: 180px;
  margin-left: auto;
  margin-right: auto;
}

.popup--show{
  display: block;
}

@media (min-width: @tablet-width){
  .failur-popup{
    width: 400px;
  }

  .failur-popup__wrapper{
    width: 295px;
  }

  .failur-popup__title{
    width: 220px;
    font-size: 30px;
    line-height: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .failur-popup__btn{
    width: 272px;
  }
}
