.form-list{
  width: 320px;
  margin: 0 auto;
}

@media (min-width: @tablet-width){
  .form-list{
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: @desctop-width){
  .form-list{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
  }
}