.gallery{
  margin-top: -27px;
  margin-bottom: 39px;
}

@media (min-width: @tablet-width){
  .gallery{
    width: 650px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: @desctop-width){
  .gallery{
    width: auto;
    margin-bottom: 85px;
  }
}
