.main-nav{
  position: relative;
  width: 100%;
  background-color: @second-color;
}

.main-nav__toggle{
  position: absolute;
  right: 1px;
}

.main-nav__list{
  margin: 0;
  padding: 0;
}

.main-nav__item{
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  background-color: @second-color;
  list-style: none;
}

.main-nav__link{
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: @main-color;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: @tablet-width){
  .main-nav{
    width: 100%;
    background-color: @main-color;
  }

  .main-nav__toggle{
    display: none;
  }

  .main-nav__list{
    display: flex;
    justify-content: space-around;
    width: 768px;
    margin: 0;
  }

  .main-nav__item{
    width: 20%;
    background-color: @main-color;
  }

  .main-nav__item:nth-child(2){
    margin-right: auto;
  }

  .main-nav__link{
    font-size: 14px;
    color: @title-color;
  }
}

@media (min-width:@desctop-width){
  .main-nav__list{
    display: flex;
    justify-content: space-around;
    width: 1200px;
  }

  .main-nav__link{
    font-size: 14px;
  }
}
