.main-nav{
  background-color: @second-color;
}

.main-nav__item{
  list-style: none;
}

.main-nav__link{
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: @main-color;
  text-decoration: none;
}
