.note{
  padding-top: 39px;
  text-align: center;
}

.note__title{
  margin-top: 0;
  margin-bottom: 27px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.note__text{
  margin-top: 0;
  margin-bottom: 35px;
  line-height: 24px;
}

.note__wrapper{
 background: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 24px 20px 22px;
  box-sizing: border-box;
}

.note__player{
  background: rgba(0, 0, 0, 0.2);
  padding: 22px 22px 20px;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 100%;
}

.note__player-scale{
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}

.note__player-toggle{
  position: absolute;
  top: 45%;
  width: 9px;
  height: 9px;
  padding: 0;
  font-size: 0;
  background-color: @main-color;
  border-radius: 50%;
}

.note__controls-replay{
  width: 18px;
  height: 21px;
  padding: 0;
  font-size: 0;
  color: transparent;
  background-color: transparent;
  background-image: url(../../img/icon-video-replay.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
}

.note__controls-wrapper{
  display: flex;
  justify-content: space-between;
  width: 85px;
}

.note__controls-subs{
  width: 34px;
  height: 21px;
  padding: 0;
  font-size: 0;
  color: transparent;
  background-color: transparent;
  background-image: url(../../img/icon-video-subtitles.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
}

.note__controls-size{
  width: 22px;
  height: 21px;
  padding: 0;
  font-size: 0;
  color: transparent;
  background-color: transparent;
  background-image: url(../../img/icon-video-fullscreen.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
}

@media (min-width: @tablet-width){
  .note{
    max-width: 768px;
  }

  .note__item{
    padding-left: 165px;
    padding-right: 165px;
    text-align: center;
  }

  .note__video{
    position: relative;
  }

  .note__img{
    height: 500px;
  }

  .note__title{
    margin-bottom: 30px;
    font-size: 30px;
  }

  .note__text{
    margin-bottom: 75px;
  }

  .note__video{
    width: 650px;
    margin-left: auto;
    margin-right: auto;
  }

  .note__wrapper{
    padding: 35px 41px 38px 35px;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
  }

  .note__player{
    background: none;
    position: relative;
    left: auto;
    right: auto;
    width: 100%;
    flex-grow: 1;
    margin: 0 42px;
    padding: 0;
  }

  .note__player-scale{
    width: 390px;
    opacity: 0.5;
  }

  .note__player-toggle{
    top: -60%;
    left: 40%;
  }

  .note__controls-replay{
    order: -1;
  }
}

@media (min-width: @desctop-width){
  .note{
    max-width: 1200px;
    padding-top: 42px;
  }

  .note__item{
    padding-left: 385px;
    padding-right: 385px;
  }

  .note__title{
    margin-bottom: 30px;
  }

  .note__text{
    margin-bottom: 70px;
  }

  .note__video{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .note__wrapper{
    width: 800px;
    margin-top: -92px;
  }

  .note__player{
    width: 540px;
  }

  .note__player-scale{
    width: 540px;
  }

  .note__controls{
    width: 730px;
  }
}
