.personal-data{
}

personal-data__title{
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.personal-data__contacts{
  line-height: 26px;
}

.personal-data__input{
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}
