.photo{
}

.photo__title{
  line-height: 24px;
  font-weight: 700;
}

.photo__author{
  line-height: 24px;
}

.photo__author-name{
  line-height: 24px;
}

.photo__index{
  line-height: 24px;
  font-weight: 700;
}
