.post{
  background-color: @second-color;
}

.post__title{
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @main-color;
}

.post__index{
  color: @main-color;
}

.post__text{
  color: @main-color;
}
