.promo{
  position: relative;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 31px;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}

.promo::after{
  position: absolute;
  bottom: -19px;
  left: 0;
  content: "";
  width: 320px;
  height: 20px;
  background-image: url(../../img/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.promo__title{
  margin-top: 0;
  margin-bottom: 27px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @title-color;
  text-align: center;
  text-transform: uppercase;
}

.promo__text{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: @tablet-width){
  .promo{
    width: auto;
    min-height: 105px;
    padding-top: 50px;
    padding-bottom: 56px;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
  }
  
  .promo::after{
    display: none;
  }

  .promo__title{
    font-size: 21px;
  }
}

@media (min-width: @desctop-width){
  .promo{
    padding-left: 355px;
    padding-right: 355px;
    box-sizing: border-box;
  }
}
