.promo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  min-height: 158px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.promo__title{
  width: 261px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @title-color;
  text-align: center;
  text-transform: uppercase;
}

.promo__text{
  width: 255px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: @tablet-width){
  .promo{
    width: 768px;
    min-height: 105px;
    padding-top: 50px;
    padding-bottom: 56px;
  }

  .promo__title{
    width: 443px;
    font-size: 21px;
  }

  .promo__text{
    width: 494px;
  }
}

@media (min-width: @desctop-width){
  .promo{
    width: 1200px;
  }
}
