.realizer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  line-height: 26px;
}

.realizer__icon{
  width: 32px;
  font-size: 0;
  line-height: 0;

  svg{
    width: 40px;
    height: 33px;
    display: block;
    fill: @title-color;
      
    &:hover{
      fill: #81b3d2;  
    }
    
    &:active{
      fill: #c1c1c1;
    }
  }
}

@media (min-width: @tablet-width){
  .realizer{
    justify-content: flex-end;
    width: 33.333333%;
    margin-bottom: 0;
    padding-right: 60px;
    box-sizing: border-box;
  }
}

@media (min-width: @desctop-width){
  .realizer{
    padding-right: 45px;
  }
}
