.request{
}

.request__title{
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.request__name{
  line-height: 26px;
}

.request__input{
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}
