.social{
  display: flex;
  justify-content: center;
  margin-bottom: 43px;
}

.social__item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  margin: 0;
  font-size: 0;
  color: transparent;
  background-color: @second-color;
  
  svg{
    fill: @main-color;
  }
  
  &:hover{
    background-color: #669ec0;
  }
  
  &:active{
    background-color: #5496bd;
    
    svg{
      fill: #88b6d1;
    }
  }
}

.social__item{
  &:not(:last-child){
    margin-right: 6px;
  }
}

@media (min-width: @tablet-width){
  .social{
    width: 33.333333%;
    margin-bottom: 0;
  }
}
