.title-content{
  position: relative;
  height: 158px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  
  &::before{
    position: absolute;
    top: 52px;
    left: 50%;
    content: "";
    width: 229px;
    height: 39px;
    transform: translateX(-50%);
    background-image: url(../img/text-sedona.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  &::after{
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    content: "";
    height: 27px;
    background-image: url(../img/bg-intro-triangle-mobile.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx){
    background-image: url(../img/bg-back-mobile@2x.jpg);
    background-size: 768px auto;
  }
}

.title-content--size{
  height: 390px;
  
  &::before{
    top: 90px;
    width: 281px;
    height: 214px;
    background-image: url(../img/text-sedona-index.svg);
  }
}

@media (min-width: @tablet-width){
  .title-content{
    height: 290px;
    background-image: url(../img/bg-back-tablet@1x.jpg);
    
    &::before{
      top: 95px;
      width: 462px;
      height: 78px;
      transform: translateX(-50%);
      background-size: auto;
    }
    
    &::after{
      height: 57px;
      background-image: url(../img/bg-intro-triangle-tablet.svg);
      background-size: contain;
    }

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx){
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  .title-content--size{
    height: 518px;
    background-size: cover;
    
    &::before{
      top: 77px;
      width: 461px;
      height: 350px;
    }
  }

  .title-content--width{
    margin-left: -59px;
    margin-right: -59px;
  }
}

@media (min-width: @desctop-width){
  .title-content{
    height: 301px;
    background-image: url(../img/bg-back-desktop@1x.jpg);
    background-size: cover;
    
    &::before{
      top: 102px;
    }
    
    &::after{
      background-image: url(../img/bg-intro-triangle-desktop.svg);
    }

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx){
      background-image: url(../img/bg-back-desktop@2x.jpg);
      background-size: 1200px auto;
    }
  }

  .title-content--size{
    height: 518px;
    
    &::before{
      top: 77px;
    }
  }
  
  .title-content--width{
    margin-left: 0;
    margin-right: 0;
  }
}
