@font-face{
  font-family: "Pt Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/ptsans.woff") format("woff"),
       url("../../fonts/ptsans.woff2") format("woff2");

}

@font-face{
  font-family: "Pt Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/ptsansbold.woff") format("woff"),
       url("../../fonts/ptsansbold.woff2") format("woff2");
}

body{
  margin: 0;
  font-family: "Pt Sans";
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background-color: @main-color;
  text-transform: uppercase;
  
  @media (min-width: @desctop-width){
    background-color: #f1f1f1;
  }
}

.btn-item{
  display: block;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: @main-color;
  background-color: @second-color;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  box-sizing: border-box;
  
  &:hover{
    background-color: #669ec0;
  }
  
  &:active{
    color: #88b6d1;
    background-color: #5496bd;
  }
  
  &:disabled{
    background-color: #e5e5e5;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

figure{
  margin: 0;
}

img{
  display: block;
  max-width: 100%;
}

.input-item{
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 21px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  background-color: @gray;
  border: 0;
  box-sizing: border-box;
  
  &:hover{
    background-color: #e5e5e5;
  }
  
  &:focus{
    box-shadow: inset 0 0 0 4px #e5e5e5;
    background-color: @main-color;
    outline: none;
  }
}
